<h1>Jay Hayes</h1>

<p>
  <a href="mailto:ur@iamvery.com">ur@iamvery.com</a> - <a href="{{ site.url }}">{{ site.url }}</a>
  <br/>
  +1 (317) 426-8379
<p>

<h3>Objective</h3>

<p>
  My goal is to be a valuable asset to anyone I have the pleasure of working with. I strive to always work
  hard and efficiently. I never want to stop learning.
</p>

<h3>Experience</h3>

<p>
  <em>Developer</em><br/>
  Big Nerd Ranch, Atlanta, Georgia; February 2013 - Present<br/>
  Web application developer and consultant. Ruby and Rails. 
</p>

<p>
  <em>Computer Analyist III</em><br/>
  Dynetics Inc., Huntsville, Alabama; May 2010 - February 2013<br/>
  As a full-time employee, I am now pursuing a career as a software developer. I have been given both
  individual and group tasks ranging from web to defense.
</p>

<p>
  <em>Freelance Web Development &amp; Design</em><br/>
  Florence, Alabama; Huntsville, Alabama; 2004 - Present
</p>

<p>
  <em>IT Support Technician III</em><br/>
  Dynetics Inc., Huntsville, Alabama; January 2006 - May 2010<br/>
  I perform as a computer support task person to perform a variety of tasks for this 1000+ employee company.
  Currently my primary responsibility is managing our Apple computers.
<p>

<h3>Software Skillset</h3>

<ul>
  <li>Git</li>
  <li>Vim, bash, zsh</li>
  <li>HTTP</li>
  <li>GitHub, GitLab</li>
  <li>Adobe Photoshop</li>
  <li>Adobe Illustrator</li>
  <li>Adobe Premiere Pro</li>
  <li>Adobe After Effects</li>
</ul>

<h3>Programming Skillset</h3>

<ul>
  <li>Ruby, Rails</li>
  <li>HTML5, CSS3</li>
  <li>JavaScript, CoffeeScript</li>
  <li>JQuery, Backbone.js, Underscore.js</li>
  <li>SASS, LESS</li>
</ul>
