<h1>Jay Hayes</h1>

<p>
  <a href="mailto:ur@iamvery.com">ur@iamvery.com</a> - <a href="http://iamvery.com">http://iamvery.com</a>
  <br/>
  +1 (317) 426-8379
<p>

<h3>Objective</h3>

<p>
  My goal is to be a valuable asset to anyone I have the pleasure of working with. I strive to always work
  hard and efficiently. From now until the day I die, I never want to stop learning.
</p>

<h3>Education</h3>

<p>
  The University of Alabama in Huntsville<br/>
  Computer Science Major, Mathematics Minor<br/>
  August 2005 - May 2010<br/>
  Magna Cum Laude
</p>

<h3>Experience</h3>

<p>
  <em>Computer Analyist III</em><br/>
  Dynetics Inc., Huntsville, Alabama; May 2010 - Present<br/>
  As a full-time employee, I am now pursuing a career as a software developer. I have been given both
  individual and group tasks ranging from web to defense.
</p>

<p>
  <em>Freelance Web Development &amp; Design</em><br/>
  Florence, Alabama; Huntsville, Alabama; 2004 - Present
</p>

<p>
  <em>IT Support Technician III</em><br/>
  Dynetics Inc., Huntsville, Alabama; January 2006 - May 2010<br/>
  I perform as a computer support task person to perform a variety of tasks for this 1000+ employee company.
  Currently my primary responsibility is managing our Apple computers.
<p>

<p>
  <em>Onsite Computer Technician</em><br/>
  Riverhill School, Florence, Alabama; September 2002 - May 2005<br/>
  I performed various computer/technology related tasks on campus.
<p>

<h3>Software Skillset</h3>

<ul>
  <li>Git, Subversion</li>
  <li>TextMate</li>
  <li>Vim, bash, zsh</li>
  <li>HTTP</li>
  <li>GitHub, GitLab</li>
  <li>Eclipse</li>
  <li>Adobe Flash</li>
  <li>Adobe Photoshop</li>
  <li>Adobe Illustrator</li>
  <li>Adobe Premiere Pro</li>
  <li>Adobe After Effects</li>
</ul>

<h3>Programming Skillset</h3>

<ul>
  <li>HTML5, CSS3</li>
  <li>JavaScript, CoffeeScript</li>
  <li>JQuery, Backbone.js, etc.</li>
  <li>SASS, LESS</li>
  <li>Twitter Bootstrap</li>
  <li>Ruby, Rails</li>
  <li>Bash</li>
  <li>ActionScript 2.0 / 3.0</li>
  <li>C, C++</li>
  <li>C#, ASP.NET</li>
  <li>Java</li>
  <li>AppleScript</li>
</ul>

<h3>Achievements and Recognition</h3>

<ul>
  <li>Won two "Favorite Website Awards" (http://thefwa.com)</li>
  <li>Nominated UAH Co-op of the Year; 2007</li>
  <li>Graduated from UAH with honors</li>
</ul>
