<h1>Jay Hayes</h1>

<p>
  <a href="mailto:hello@iamvery.com">hello@iamvery.com</a>
  |
  <a href="{{ site.url }}">{{ site.url }}</a>
  |
  +1 (317) 426-8379
</p>

<h2>Objective</h2>
<p>
  My goal is to be a valuable asset to anyone I have the pleasure of working with.
  I strive to always work hard and efficiently.
  I never want to stop learning.
</p>

<h3>Thinking</h3>
<p>
  I have worked remotely fulltime at Big Nerd Ranch as a developer and consultant.
  This experience has proved invaluable in growing my skill in software engineering and communcation.
  I have had the opportunity to work with and lead teams in successfully delivering on promises to clients.
  These projects have also given me a chance to hone my practice in building test suites that provide confidence without hindering progress.
</p>

<h3>Speaking</h3>
<p>
  I have had the opportunity to speak at a number of small to medium sized conferences in the past few years, including:
  <a href="https://conferences.oreilly.com/oscon/oscon-tx/public/schedule/detail/56904">OSCON</a>, <a href="http://railsconf.com/program/workshops#session-118">RailsConf</a>, and <a href="https://www.youtube.com/watch?v=p8MGNw045AE">ElixirConf</a>.
</p>

<h3>Teaching</h3>
<p>
  I am extremely thankful for the opportunity and experience teaching the Big Nerd Ranch Ruby and Rails class.
  It has not only made me a better programmer, it has also given me the realization that I have a real love of teaching and strong desire to do more of it.
</p>

<h3>Community</h3>
<ul>
  <li>Spoken numerous times at meetups across North Alabama</li>
  <li>Spoken to local high school students about programming and technology</li>
  <li>Volunteered at a RailsBridge event in Atlanta, GA</li>
  <li>Created and moderate <a href="https://tech256.com/">Tech256</a></li>
  <li>Contributed to numerous <a href="https://github.com/iamvery">open source</a> projects such as <a href="https://github.com/elixirkoans/elixir-koans/commits/master?author=iamvery">elixirkoans</a>, <a href="https://github.com/rails/rails/commits/master?author=iamvery">Ruby on Rails</a>, <a href="https://github.com/elixir-lang/elixir/commits/master?author=iamvery">Elixir</a>, and <a href="https://github.com/phoenixframework/phoenix/commits/master?author=iamvery">Phoenix</a></li>
</ul>

<h2>Languages, Frameworks, and Tools</h2>
<ul>
  <li>Ruby, Rails</li>
  <li>Elixir, Phoenix</li>
  <li>JavaScript, React, etc.</li>
  <li>(Postgre)SQL</li>
  <li>Bash, Vim, Tmux</li>
  <li>Many other things...</li>
</ul>

<h2>Technique</h2>
<ul>
  <li>Strong testing habit</li>
  <li>Git as an integral part of flow</li>
  <li>Strong code-review habit</li>
  <li>Pedantic (in a good way)</li>
</ul>

<h2>History</h2>

<p>
  <strong>Developer &amp; Instructor</strong><br>
  Big Nerd Ranch, Atlanta, Georgia (remote); February 2013 - Present<br>
  Web application developer, consultant, and instructor.
  Ruby and Rails, Elixir and Phoenix.
</p>

<p>
  <strong>Computer Analyist III</strong><br>
  Dynetics Inc., Huntsville, Alabama; May 2010 - February 2013<br>
  As a full-time employee, I am now pursuing a career as a software developer.
  I have been given both individual and group tasks ranging from web to defense.
</p>

<p>
  <strong>Freelance Web Development &amp; Design</strong><br>
  Florence, Alabama; Huntsville, Alabama; 2004 - Present
</p>

<p>
  <strong>IT Support Technician III</strong><br>
  Dynetics Inc., Huntsville, Alabama; January 2006 - May 2010<br>
  I perform as a computer support task person to perform a variety of tasks for this 1000+ employee company.
  Currently my primary responsibility is managing our Apple computers.
</p>
