/* http://www.sitepoint.com/pure-css3-paper-curl/ */
nav {
  height: 80px;
  margin: 0 70px -30px 70px; }
  nav ul {
    position: relative;
    z-index: 1;
    /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
    margin: auto;
    padding: 0; }
    nav ul li {
      position: relative;
      float: left;
      margin: 0 15px 30px 15px;
      background: url(/images/background-noise.png);
      background-color: #f3f3f3;
      border: 1px solid #f8f8f8;
      cursor: pointer;
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1); }
      nav ul li:before, nav ul li:after {
        position: absolute;
        width: 40%;
        height: 10px;
        content: ' ';
        left: 6px;
        bottom: 4px;
        background: transparent;
        z-index: -1;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform: skew(-5deg, -5deg);
        -moz-transform: skew(-5deg, -5deg);
        -ms-transform: skewX(-5deg) skewY(-5deg);
        -o-transform: skew(-5deg, -5deg);
        transform: skew(-5deg, -5deg);
        -webkit-backface-visibility: hidden;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); }
      nav ul li:after {
        left: auto;
        right: 6px;
        -webkit-transform: skew(5deg, 5deg);
        -moz-transform: skew(5deg, 5deg);
        -ms-transform: skewX(5deg) skewY(5deg);
        -o-transform: skew(5deg, 5deg);
        transform: skew(5deg, 5deg);
        -webkit-backface-visibility: hidden;
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg); }

h1 {
  font-size: 2.5em;
  margin-bottom: 13px; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1em;
  font-weight: bold; }

h2, h3, h4 {
  margin-bottom: 5px; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.toggle {
  cursor: pointer; }

p, blockquote, pre, .highlight {
  margin-bottom: 13px;
  line-height: 16px; }
  p:last-child, blockquote:last-child, pre:last-child, .highlight:last-child {
    margin-bottom: 0; }

blockquote {
  padding-left: 10px;
  border-left: 3px solid #999999; }

strong {
  font-weight: bold; }

em {
  font-size: 14px;
  font-style: italic; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ul, ol {
  margin: 0 0 13px 20px; }
  ul li, ol li {
    margin-bottom: 3px; }

a {
  color: black;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

hr {
  margin: 0;
  border-top: 1px solid #a6a6a6;
  border-bottom: 1px solid #f2f2f2; }

pre {
  padding: 10px;
  background-color: #efefef;
  border-left: 5px solid #555555;
  line-height: 16px; }

pre, code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px; }

code {
  background-color: #efefef;
  padding: 0 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

body {
  min-width: 870px;
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px; }

header, .container, footer {
  position: relative; }

header.primary {
  height: 254px;
  background-color: black;
  text-align: center;
  z-index: 2;
  background: url(/images/stitch-horizontal.png) top left repeat-x, url(/images/stitch-vertical.png) top right repeat-y, url(/images/stitch-horizontal.png) bottom left repeat-x, url(/images/stitch-vertical.png) top left repeat-y, url(/images/header-background.jpg) center no-repeat;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }

footer.primary {
  background-color: black;
  text-align: center;
  z-index: 3;
  background: url(/images/stitch-horizontal.png) top left repeat-x;
  -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3); }

section {
  padding: 30px 100px; }
  section.title-bar h1, section.title-bar h2, section.title-bar h3, section.title-bar h4 {
    margin: 0; }
  section#resume {
    padding-top: 0; }

nav ul {
  width: 550px; }
  nav ul li {
    text-align: center;
    font-size: 20px;
    color: #202020;
    text-shadow: 0 1px 0 white;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    nav ul li:hover {
      padding-top: 5px;
      text-shadow: 0 0 30px #ff9999;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 2px;
      -moz-border-radius-bottomleft: 2px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px; }
      nav ul li:hover:before, nav ul li:hover:after {
        bottom: 2px; }
    nav ul li a {
      display: block;
      padding: 8px 50px;
      text-decoration: none; }

.container {
  background: url(/images/background-noise.png);
  background-color: #cccccc;
  z-index: 1; }
  .container img {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7); }

.printable-resume {
  padding: 20px;
  background-color: #f2f2f2; }

#about img {
  float: right;
  margin: 0 0 0 15px; }
