p, blockquote, pre, .highlight {
  margin-bottom: $base-font-size;
  line-height: 16px;
  &:last-child { margin-bottom: 0; }
}

blockquote {
  padding-left: 10px;
  border-left: 3px solid #999;
}

strong { font-weight: bold; }

em {
	font-size: $base-font-size + 1;
	font-style: italic;
}

ul {
  list-style-type: disc;
  margin: 0 0 $base-font-size 15px;
  li { margin-bottom: $base-font-size - 10; }
}

a {
  color: black;
  text-decoration: underline;
  &:hover { text-decoration: none; }
}

hr {
  margin: 0;
  border-top: 1px solid darken($background-color, 15%);
  border-bottom: 1px solid lighten($background-color, 15%);
}

pre {
  padding: 10px;
  background-color: #efefef;
  border-left: 5px solid #555;
  line-height: 16px;
}

pre, code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
}

code {
  background-color: #efefef;
  padding: 0 3px;
  @include rounded(3px);
}
