/* http://www.sitepoint.com/pure-css3-paper-curl/ */
nav {
  height: 80px;
  margin: 0 70px -30px 70px;

  ul {
    position: relative;
    z-index: 1; /* prevent shadows falling behind containers with backgrounds */
    overflow: hidden;
    list-style: none;
    margin: auto;
    padding: 0;

    li {
      position: relative;
      float: left;
      margin: 0 15px 30px 15px;
      background: url(/images/background-noise.png);
      background-color: #f3f3f3;
      border: 1px solid #f8f8f8;
      cursor: pointer;
      
      -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1);  
      -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1);  
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(0, 0, 0, 0.1);

      &:before, &:after {
        position: absolute;
        width: 40%;
        height: 10px;
        content: ' ';
        left: 6px;
        bottom: 4px;
        background: transparent;
        z-index: -1;

        @include transition(all, .2s, ease-in-out);
        @include skew(-5deg, -5deg);
        @include rotate(-5deg);
        @include box-shadow(0, 3px, 6px, rgba(0,0,0,0.4));
      }
      
      &:after {
        left: auto;
        right: 6px;
        @include skew(5deg, 5deg);
        @include rotate(5deg);
      }
    }
  }
}
