body {
  min-width: 870px;
  background-color: black;

  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  text-shadow: $text-shadow-color 0 1px 0;
}

header, .container, footer { position: relative; }

header {
  height: 254px;
  background-color: black;
  text-align: center;
  z-index: 2;

  @include stitches-and-leather;
  @include box-shadow(0, 3px, 3px, rgba(0,0,0,0.4));
}

footer {
  background-color: black;
  text-align: center;
  z-index: 3;

  @include stitch(top);
  @include box-shadow(0, -3px, 3px, rgba(0,0,0,0.3));
}

section {
  padding: 30px 100px;

  &.title-bar {
    h1, h2, h3, h4 { margin: 0; }
  }

  &#resume { padding-top: 0; }
}

.container {
  background: url(/images/background-noise.png);
  background-color: $background-color;
  z-index: 1;

  img {
    border-top: 1px solid rgba(255, 255, 255, 0.3);

    @include rounded(5px);
    @include box-shadow(0, 4px, 5px, rgba(0,0,0,0.7));
  }
}

.printable-resume {
  padding: 20px;
  background-color: lighten($background-color, 15%);
}

#about img {
  float: right;
  margin: 0 0 0 15px;
}
