!!! 5
%html
  %head
    %title {{ page.title }}
    {% css_asset_tag iamvery %}
    \- /_assets/stylesheets/iamvery.scss
    {% endcss_asset_tag %}

  %body
    {{ content }}
    {% javascript_asset_tag iamvery %}
    \- /_assets/javascripts/iamvery.coffee
    {% endjavascript_asset_tag %}
