<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="jay hayes, jay, hayes, florence al, florence, al, iamvery, webdesign, web design, html, xhtml, css, strict html, strict xhtml, php, ror, ruby, ruby on rails, programming, programmer, development, web developer, web development, github" />
    <meta content="{{ site.description }}" name="description" />
    <meta content="Jay Hayes" name="author" />

    <title>{{ page.title }} / {{ site.title }}</title>
    <link href='/favicon.ico' rel='shortcut icon' />

    <link href='/stylesheets/toast.css' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/iamvery.css' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/pygments.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class="container">
      <div class="grid">
        <header class="unit span-grid">
          <h1 class="logo"><a href="/" title="Iamvery home.">Iamvery</a></h1>
          <h3>Some thoughts &amp; feelings from a nerd</h3>
        </header>

        <hr class="unit span-grid" />

        <div class="unit three-of-four">
          {{ content }}
        </div>

        <div class="unit one-of-four">
          <nav>
            <ul class="nav">
              <li><a class="btn red" href="{{ site.posts.first.url }}">latest blog</a></li>
              <li><a class="btn red" href="/archive.html">blog list</a></li>
              <li><a class="btn red" href="/about.html">about</a></li>
              <li><a class="btn red" href="https://www.bignerdranch.com/about_us/nerds/jay_hayes" target="_blank">nerd</a></li>
            </ul>
          </nav>
          <footer><small>© 2013 Jay Hayes</small></footer>
        </div>

        <hr class="unit span-grid" />

        <footer class="unit span-grid">
          {% include contact.html %}
        </div>
      </div>
    </div>

    <script src='/javascripts/analytics.js' type='text/javascript'></script>
  </body>
</html>
