<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="jay hayes, jay, hayes, florence al, florence, al, iamvery, webdesign, web design, html, xhtml, css, strict html, strict xhtml, php, ror, ruby, ruby on rails, programming, programmer, development, web developer, web development, github" />
    <meta content="The work, thoughts, and ideas of Jay Hayes, a web developer." name="description" />
    <meta content="Jay Hayes" name="author" />

    <title>{{ page.title }}</title>
    <link href='/favicon.ico' rel='shortcut icon' />

    {% css_asset_tag iamvery %}
    - /_assets/stylesheets/reset.css
    - /_assets/stylesheets/iamvery.scss
    {% endcss_asset_tag %}
  </head>
  <body>
    <header>
      <a href="/" title="Iamvery home.">
        <img src="/images/iamvery-header.png" alt="Iamvery Logo" />
      </a>
    </header>

    <div class="container">
      <!--
      <nav>
        <ul>
          <li>about</li>
          <li>archive</li>
          <li>resume</li>
      </nav>
      -->

      {{ content }}
    </div>

    <footer>
      <img src="/images/iamvery-footer.png" />
    </footer>

    {% javascript_asset_tag iamvery %}
    - /_assets/javascripts/jquery.js
    - /_assets/javascripts/jquery.easing.js
    - /_assets/javascripts/iamvery.coffee
    - /_assets/javascripts/analytics.js
    {% endjavascript_asset_tag %}
  </body>
</html>
